@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: theme('colors.white');
    --color-surface: theme('colors.gray.100');
    --color-text: theme('colors.gray.800');
    --color-primary: theme('colors.orange.600');
  }

  .dark {
    --color-bg: theme('colors.gray.700');
    --color-surface: theme('colors.gray.900');
    --color-text: theme('colors.gray.100');
    --color-primary: theme('colors.orange.600');
  }

  /* body {
    @apply bg-[var(--color-bg)] text-[var(--color-text)];
  } */
}
